JWT_SECRET=your_jwt_secret_here

#mongoDb setup
MONGODB_URI=your_mongodb_connection_string

EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_email_app_password

#Sentry setup
SENTRY_DSN=your_sentry_dsn

#cloudinary setup
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key

#clerk setup
CLERK_WEBHOOK_SECRET=your_clerk_webhook_secret
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
